@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

body {
    font: normal 15pt Arial;
    height: 100%;
    background-color: #4084D8;
}

header > h1 {
    color: white;
    max-width: 500px;
    margin: 80px auto 10px auto;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
}

section {
    background-color: white;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.315);
    line-height: 2em;
}

div {
    text-align: justify;
}

div input#botao {
    font-size: 1em;
}

div#res {
    font-size: 0.75em;
}

div > img {
    border-radius: 50%;
    display: block;
    margin: auto;
}

footer{
    color: white;
    text-align: center;
    margin: 10px auto;
    font-style: italic;
    font-weight: lighter;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418) ;
}